<%= form_with(model: event) do |form| %>
  <ul>
    <% event.errors.each do |error| %>
      <li><%= error.full_message %></li>
    <% end %>
  </ul>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <%= form.label :date %>
  <%= form.text_field :date %>
  <%= form.label :location %>
  <%= form.text_field :location %>
  <%= form.label :description %>
  <%= form.text_area :description %>
  <%= form.submit %>
<% end %>