<p>
  <%= link_to "Back to Events List", events_path %>
</p>
<p>
  <%= @event.name %>
</p>
<p>
  Created by <%= @event.creator.email %>
</p>
<p>
  Date: <%= @event.date %>
</p>
<p>
  Location: <%= @event.location %>
</p>
<p>
  <%= @event.description %>
</p>