<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <%= render 'public/nav' %>
      <%= yield %>
    </nav>
    <% if user_signed_in? %>
      <turbo-frame class="container" id="_event-display" src="/users/<%= current_user.id %>"></turbo-frame>
    <% else %>
      <turbo-frame class="container" id="_event-display" src="/users/sign_in"></turbo-frame>
    <% end %>
  </body>
</html>
